#quotes-button{
    float: right;
}
.card-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    margin-bottom: 2%;
    box-shadow: rgba(39, 2, 250, 0.25) 0px 54px 55px, rgba(1, 139, 252, 0.12) 0px -12px 30px, rgba(2, 131, 30, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: linear-gradient(#3494e6,#ec6ead);
}
.delete{
    justify-content: flex-end;
}
.footer-btn{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.h1{
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem;
    color: #FFFFFF;
}